<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:name=".Application"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/baseline_30fps_24"
            android:label="@string/app_name"
            android:roundIcon="@drawable/baseline_30fps_24"
            android:supportsRtl="true"
            android:theme="@style/Theme.DynamicIcon"
            tools:targetApi="31">

        <activity
            android:name="com.oguzhanaslann.dynamicicon.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DynamicIcon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.oguzhanaslann.dynamicicon.LegacyConfigActivity"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".SplashScreenActivity"/>

        <activity
                android:name="com.oguzhanaslann.dynamicicon.UVSplashScreenActivity"
                android:enabled="false"
                android:exported="true"
                android:icon="@drawable/baseline_60fps_24"
                android:label="@string/app_name"
                android:roundIcon="@drawable/baseline_60fps_24">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ValhallaSplashScreenActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DynamicIcon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ValhallaUVSplashScreenActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/baseline_60fps_24"
            android:label="@string/app_name"
            android:roundIcon="@drawable/baseline_60fps_24"
            android:targetActivity=".ValhallaActivityIcon30">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
